body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: white;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.75rem;
  transition: background 0.3s ease;
}

.btn.primary {
  background-color: #28a745;
  color: white;
}

.btn.primary:hover {
  background-color: #218838;
}

.btn.google {
  background-color:transparent;
  border: 1px solid #c33c2f;
  color: rgb(238, 17, 17);
}

.btn.google:hover {
  background-color: #e4bbb7;
}

.btn.facebook {
  background-color: transparent; 
  border: 1px solid #3b5998;
  color: rgb(13, 12, 51);
}

.btn.facebook:hover {
  background-color: #616d86;
}

.divider {
  text-align: center;
  margin: 1rem 0;
  color: #999;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 1px;
  background: #ccc;
  margin: 0 0.5rem;
  vertical-align: middle;
}

.auth-switch {
  text-align: center;
  margin-top: 1rem;
}

.auth-switch a {
  color: #28a745;
  font-weight: bold;
  text-decoration: none;
}
